header {
    background: var(--primary-color);
    color: #fff;
    padding: 0.5rem 0.5rem;
    letter-spacing: 1px;
}

.main-header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-title {
      text-decoration: none;
      color: #000;
    }
  }

.EcomImage {
    object-fit: cover;
    height: 65px;
    width: 120px;
}

.main-title {
    text-decoration: none;
    color: #fff;
  }